
    body      { margin: 0 auto;text-align: center;background: #eee;font-family: sans-serif;color: Navy;}
    #Dr.Mario   { margin: 1em auto; padding: 1em; border: 4px solid black; border-radius: 10px; background-color: #F8F8F8;width: 540px;height: 450px; }
    #canvas   {position: relative; border:1px solid black;}
    #pause {position: relative; width:60px; height:40px;background-color: grey;border: 3px solid black;}
    #left {position: relative; width:60px; height:40px;background-color: grey;border: 3px solid black;}
    #right {position: relative; width:60px; height:40px;background-color: grey;border: 3px solid black;}
    #drop {position: relative; width:60px; height:40px;background-color: grey;border: 3px solid black;}
    #rotate {position: relative; width:60px; height:40px;background-color: grey;border: 3px solid black;}
    #play {position: relative; width:150px; height:40px;background-color: grey;border: 3px solid black;}

    
   
  